body {
  font-family: Inter;
  color: #374151;
  font-size: 14px;
  background: radial-gradient(#EF233C, #111827);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 446px;
  height: 446px;
  padding: 52px;
  margin: 50px auto;
  background: #F5F3F4;
  border-radius: 52px;
  border-bottom: 10px solid #D90429;
}

.slider {
  -webkit-appearance: none;
  background-color: #D5D4D8;
  height: 6px;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #D90429;
  cursor: pointer;
  border: 0;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  background: #D90429;
  cursor: pointer;
  border: 0;
}

h1 {
  font-family: Karla;
  color: #111827;
  font-size: 40px;
  margin: 0;
}

.checkboxes {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

button {
  width: 191px;
  height: 42px;
  background: #D90429;
  font-family: Inter;
  font-size: 16px;
  color: white;
  border: 0px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

#line {
  width: 446px;
  height: 1;
  border: 0;
  border-top: 1px solid #EDF2F4;
  margin: 20px 0;
}

.fields {
  display: flex;
  justify-content: space-between;
}

.passField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 39px;
  background: #ffccd5;
  border-radius: 6px;
  color: #111827;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}